
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile App</title>
    
    <!-- Connecting to CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="container">
        <div class="welcomeMessage">
            <h1>Welcome</h1>
            <h3>For Your</h3>
            <h2>Profile Setup</h2>
        </div>
        <div class="linksSide">
            <div class="regSide">
                <h3>Don't have an Account?</h3>
                <button type="button">
                    <a href="{% url 'register' %}">Register</a>
                </button>
            </div>
            <div class="logSide">
                <h3>Already have an Account?</h3>
                <button type="button">
                    <!--<a href="http://">Log In</a> -->
                    Log In
                </button>
            </div>
        </div>
    </div>
</body>
</html>