

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <!-- Importing CloudFlare Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Home</title>
</head>
<body>

    <div class="container">
        <nav>
            <div class="header">
                <button class="toggleBtn">
                    <!-- Bars icon that will be used when checking responsiveness of screen i.e using screens of different sizes -->
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <!-- Navigation Links -->
            <ul class="links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="content">

        <!-- Tab Links -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Tab1')" id="defaultTab">Welcome Tab</button>
            <button class="tablinks" onclick="openTab(event, 'Tab2')">Add Profiles</button>
            <button class="tablinks" onclick="openTab(event, 'Tab3')">View Profiles</button>
        </div>

        <!-- Tab Content -->
        <div class="tabcontent" id="Tab1">
            <h3>{{welcoming_mess}}</h3>
            <div class="dashboard">
                <div class="info1">
                    <h3>{{no_people}}</h3>
                    <p>Total Number of People</p>
                </div>
            </div>
        </div>

        <!-- Adding (CREATE) People to the DB -->
        <div class="tabcontent" id="Tab2">
            <div class="addPeople">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <label>First Name</label>
                        {{person_form.f_name}}
                    </div>
                    <div class="input-group">
                        <label>Middle Name</label>
                        {{person_form.m_name}}
                    </div>
                    <div class="input-group">
                        <label>Last Name</label>
                        {{person_form.l_name}}
                    </div>
                    <div class="input-group">
                        <label>Upload Profile image</label>
                        <!-- <input type="file" name="profile_img" id="Profile_Image" accept="image/*" required> -->
                        {{person_form.prof_img}}
                    </div>
                    <div class="input-group">
                        <label>Phone Number</label>
                        {{person_form.phone_no}}
                    </div>
                    <button type="submit" name="add_people">ADD PERSON</button>
                </form>
            </div>
        </div>
        <div class="tabcontent" id="Tab3">
            {% for person in people %}
                <div class="view-People">
                    <div class="left-info">
                        {% if person.prof_img %}
                            <img src="{{ person.prof_img.url }}" alt="Profile Image" style="width: 80px; height: 60px;">
                        {% endif %}
                    </div>
                    <div class="right-info">
                        <table>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                            </tr>
                            <tr>
                                <td>{{ person.f_name }}</td>
                                <td>{{ person.m_name }}</td>
                                <td>{{ person.l_name }}</td>
                                <td>{{ person.phone_no }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- JavaScript -->
    <script>

        // Initialize the bars icon
        const toggleBtn = document.querySelector(".toggleBtn");

        // Initialise the navigation bar
        const links = document.querySelector(".links");

        // Clicking the button to toggle the navigation bar
        toggleBtn.addEventListener("click", ()=>{
            if (links.classList.contains("active")){
                links.classList.remove("active");
            } else {
                links.classList.add("active");
            }
        });


        // JS code for the tabs and their content
        function openTab(evt, TabNumber){
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" & hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++){
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" & remove class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i=0; i < tablinks.length; i++){
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            //Show the current tab & add an "active" class to the button that opened the tab
            document.getElementById(TabNumber).style.display = "block";
            evt.currentTarget.className += " active";

        }

        // Choosing the default tab that will be displayed
        document.getElementById("defaultTab").click();

    </script>
</body>
</html>