

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- Connecting to CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

</head>
<body>
    {% for message in messages %}
        <h5>{{message}}</h5>
    {% endfor %}
    <div class="container">
        <h1>Sign Up Below</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="top">
                <div>
                    <label>First Name</label>
                    {{form.first_name}}
                </div>
                <br><br>
                <div>
                    <label>Last Name</label>
                    {{form.last_name}}
                </div>
                <br><br>
                <div>
                    <label>Username</label>
                    {{form.username}}
                </div>
                <br><br>
                <div>
                    <label>Email</label>
                    {{form.email}}
                </div>
                <br><br>
                <div>
                    <label>Password</label>
                    {{form.password1}}
                </div>
                <br><br>
                <div>
                    <label>Repeat Password</label>
                    {{form.password2}}
                </div>
                <br><br>
            </div>
            <div class="bottom">
                <input type="submit" value="Register">
                <a href="{% url 'login' %}">
                    <button type="button">Log In</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>