


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(221, 217, 217);
}

.main{
    display: flex;
    flex-direction: row;
}

/* Styling each tab */

.top1, .tabcontent{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.top1{
    width: 15%;
    margin: 0 20px 0 20px;
    background-color: white;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabWelcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}

.tabWelcome img{
    padding: 0;
    margin: 0;
}

.tabWelcome h1{
    font-size: 15px;
    margin: 20px 0 20px 0;
}

.logoutbtn{
    text-align: center;
    padding: 10px 10px;
}

.logoutbtn a{
    text-decoration: none;
}

.logoutbtn a button{
    margin-top: 3px;
    border-radius: 5px;
    display: block;
    background-color: rgb(187, 6, 6);
    color: white;
    font-weight: bolder;
    padding: 20px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.logoutbtn a button:hover{
    background-color: rgb(131, 3, 3);
    color: white;
    font-weight: bolder;
}


/* Style the buttons used to open the tab content */

.tab{
    padding: 10px;
}

.tablinks{
    margin-top: 3px;
    border-radius: 5px;
    display: block;
    background-color: inherit;
    font-weight: 600;
    color: rgb(63, 63, 63);
    padding: 20px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

/* Change background color when hovered upon */
.tablinks:hover{
    background-color: green;
    font-weight: bolder;
    color: white;
}

/* Create an active or current button class (Will be created on JS) */
.tablinks.active{
    background-color: rgb(56, 56, 153);
    color: white;
    font-weight: bolder;
}

/* Style the tab content */
.tabcontent{
    float: left;
    padding: 0px 15px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 570px;
}

.top1-A{
    text-align: center;
}

.form1{
    margin: 10px 0;
}

.top1-A h1{
    color: rgb(56, 56, 153);
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.top1-A p{
    font-size: 13px;
    color: rgb(117, 113, 113);
    margin-bottom: 30px;
}

.top2-B, .incomeDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 10px;
}

.top2-B div, .incomeDetails div{
    width: 24%;
    margin: 8px 3px 10px 0;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 10px;
    box-shadow: 1px 1px rgb(158, 155, 155);
}

#BalanceAmount{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
}

#IncomeAmount{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    color: rgb(56, 56, 153);
}

#ExpensesAmount{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    color: red;
}

#SavingsAmount{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    color: green;
}

.top2-C{
    display: flex;
    flex-direction: row;
}

.top2-C div{
    padding: 0 10px;
    width: 50%;
    height: 350px;
}

