

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling each tab */
.tab{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 550px;
}

/* Style the buttons used to open the tab content */
.tablinks{
    display: block;
    background-color: inherit;
    color: black;
    padding: 20px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

/* Change background color when hovered upon */
#tablinks:hover{
    background-color: #ddd;
}

/* Create an active or current button class (Will be created on JS) */
#tablinks.active{
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent{
    float: left;
    padding: 0px 15px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 670px;
    overflow: none;
}

.top1-A{
    text-align: center;
}

.top1-A h1{
    color: rgb(56, 56, 153);
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.top1-A p{
    font-size: 13px;
    color: rgb(117, 113, 113);
    margin-bottom: 30px;
}

.top2-B{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 5px;
}

.top2-B div{
    width: 250px;
    margin-top: 8px;
    border: 1px solid rgb(158, 155, 155);
    border-radius: 10px;
    box-shadow: 1px 1px rgb(158, 155, 155);
}

#BalanceAmount{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
}

#IncomeAmount{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    color: rgb(56, 56, 153);
}

#ExpensesAmount{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    color: red;
}

.top2-C{
    display: flex;
    flex-direction: row;
}

.top2-C div{
    padding: 0 10px;
    width: 50%;
    height: 350px;
}