


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'calc.css' %}?v=1.1">

    <title>Calculating Budget</title>
</head>
<body>
    <!-- The main content -->
    <div class="main">
        <div class="top1">
            <div class="top1-A">
                <h1 style="font-size: 20px;">PesaPlan App</h1>
            </div>
            <div class="tab">
                <ul>
                    <li>
                        <a href="#" class="tablinks">Cash Flow</a>
                    </li>
                    <li>
                        <a href="#" class="tablinks">Income</a>
                    </li>
                    <li>
                        <a href="#" class="tablinks">Expenses</a>
                    </li>
                    <li>
                        <a href="#" class="tablinks">Savings</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Tab Content -->
        <div class="tabcontent" id="Tab1">
            <h2>asceqcew</h2>
        </div>

        <div class="tabcontent" id="Tab2">
            <h2>cadscec</h2>
        </div>

        <div class="tabcontent" id="Tab3">
            <h2>asceascewc</h2>
        </div>
        
        <div class="tabcontent" id="Tab4">
            <h2>dcvewcecewc</h2>
        </div>
    </div>
</body>
</html>