


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'calc.css' %}?v=1.1">

    <title>Calculating Budget</title>
</head>
<body>

    <div class="top1-A">
        <h1 style="font-size: 20px;">The PesaPlan Application</h1>
        <p>Be in control of your finaces</p>
    </div>

    <!-- The main content -->
    <div class="main">
        <div class="top1">
            <div class="tab">
                <ul>
                    <li>
                        <a href="#" class="tablinks">Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="tablinks">Income</a>
                    </li>
                    <li>
                        <a href="#" class="tablinks">Expenses</a>
                    </li>
                </ul>
                <!-- For logging out -->
                <div class="logoutbtn">
                    <button type="button">
                        <!-- <a href="{% url 'logout' %}">Log Out</a> -->
                        <a href="#">Log Out</a>
                    </button>
                </div>
            </div>
        </div>

        <!-- Tab Content -->
        <div class="tabcontent" id="Tab1">
            <div class="top2">
                <!-- For Selecting the Year -->
                <div class="top2-A">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="year"><strong>Select Year</strong></label>
                        <select name="year" id="year">
                            <option value="">-- Select Year --</option>
                            {% for year in availableYears_Expenses %}
                                <option value="{{ year|date:'Y' }}">
                                    {% if selected_yr == year|date:'Y'|add:0 %}selected{% endif %}
                                    {{ year|date:"Y" }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Generate Info</button>
                    </form>

                    <!-- Error -->
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                </div>
                <div class="top2-B">
                    <!-- The numbers -->
                    <div>
                        <p>Total Balance left</p>
                        <p id="BalanceAmount">{{ currentBalance }}</p>
                        <p>This month</p>
                    </div>
                    <div>
                        <p>Total Income</p>
                        <p id="IncomeAmount">{{ totalIncome }}</p>
                        <p>This month</p>
                    </div>
                    <div>
                        <p>Total Expenses</p>
                        <p id="ExpensesAmount">{{ totalExpenses }}</p>
                        <p>This month</p>
                    </div>
                </div>
                <div class="top2-C">
                    <!-- The Charts -->
                    {% if expenses_data %}
                        <div class="ExpensesbarChart" style="width: 50%;">
                            <canvas id="expenseChart"></canvas>
                        </div>
                    {% endif %}
                    {% if income_data %}
                        <div class="IncomelineChart" style="width: 50%;"></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Tab for income -->
        <div class="tabcontent" id="Tab2">
            <h3>scdcsdcewdd</h3>
        </div>

        <!-- Tab for Expenses -->
        <div class="tabcontent" id="Tab3">
            <h2>asceascewc</h2>
        </div>
    </div>

    <!-- JS code -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        // For Expenses first
        const expenseLabels = {{ expenses_labels|safe }};
        const expenseData = {{ expenses_data|safe }};

        const ctx1 = document.getElementById("expenseChart");

        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: expenseLabels,
                datasets: [{
                    label: 'Monthly Expenses - {{ selected_yr }}',
                    data: expenseData,
                    backgroundColor: 'lightblue'
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Monthly Expenses for {{ selected_yr }}',
                        font: { size: 10}
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // For Income
    </script>
</body>
</html>